@import "../../../theme/variables.scss";

.input-container {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 24px auto;
  color: #212529;

  .label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: "latoBold";
  }

  .input {
    display: block;
    width: 100%;
    height: inherit;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #d2d6df;
    border-radius: 6px;
    z-index: 1;
  }

  .icon-input {
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 45px;
    color: $primary;
  }
}

.input-error {
  color: $error;
  border-color: $error !important;
}

.message-error {
  color: $error;
}

.button-container {
  margin-top: 2rem;
  .button-submit {
    width: 100%;
    font-family: "latoBold";
    height: 48px;
    font-size: 1rem;
    background-color: $primary;
    border-color: $primary;
    color: #ffffff;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 24px;
  }
}
