<agm-map
  [latitude]="hotelSelected ? hotelSelected.lat : latitude"
  [longitude]="hotelSelected ? hotelSelected.lng : longitude"
  [fitBounds]="true"
>
  <agm-marker
    *ngFor="let item of hotels"
    [latitude]="item.lat"
    [longitude]="item.lng"
    [agmFitBounds]="true"
    (markerClick)="onPressMarker(infowindow, item, item.lat, item.lng)"
  >
    <agm-info-window [disableAutoPan]="false" #infowindow>
      <div class="info-hotel">
        <img [src]="item.image" class="image-hotel" />

        <p class="title">{{ item.name }}</p>

        <p class="description">{{ item.description }}</p>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
