<div class="container-fluid main-container">
  <div class="row">
    <div class="col col-sm-3 col-sm-12">
      <button type="button" class="btn button-filter" (click)="showFilter()">
        <fa-icon [icon]="faFilter" class="icon-filter"></fa-icon>
        {{ showFilters ? "Hide" : "Show" }} Filters
      </button>
    </div>
  </div>
</div>

<div class="container-fluid main-container" *ngIf="showFilters">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="row filter-form input-container">
      <div class="col-lg-3 col-sm-12">
        <label>Destination</label>
        <input class="input" formControlName="destination" type="text" />

        <div *ngIf="submitted && f.destination.errors" class="message-error">
          <div *ngIf="f.destination.errors.required">
            Destination is required
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12">
        <label>Check In</label>
        <input
          type="date"
          formControlName="checkin"
          name="checkin"
          max="3000-12-31"
          min="2020-01-01"
          class="input"
        />
      </div>

      <div class=" col-lg-3 col-sm-12">
        <label>Check Out</label>
        <input
          type="date"
          formControlName="checkout"
          name="checkout"
          max="3000-12-31"
          min="2020-01-01"
          class="input"
        />
      </div>

      <div class=" col-lg-3 col-sm-12">
        <label>Guests</label>
        <input class="input" formControlName="guests" type="number" min="1" />

        <div *ngIf="submitted && f.guests.errors" class="message-error">
          <div *ngIf="f.guests.errors.required">
            Guests is required
          </div>
        </div>
      </div>
    </div>

    <div class="row button-container justify-content-end">
      <div class="col-md-2 col-sm-12">
        <button type="submit" class="btn btn-primary button-submit">
          <div
            class="spinner-border spinner-border-sm spinner"
            *ngIf="loading"
          ></div>
          Search
        </button>
      </div>
    </div>
  </form>
</div>
