@import "../../../theme/variables.scss";

.main-container {
  width: 100%;
  border-bottom: 0.5px solid $lines;
}

.button-filter {
  padding: 5px 10px;
  margin: 10px 5px;
  color: $primary;
  background-color: #ffffff;
  border: solid 1px $primary;

  .icon-filter {
    margin-right: 5px;
  }

  .filter-form {
    border: solid 1px $primary;
  }
}

.button-container {
  margin: 1rem 0;

  .button-submit {
    width: 100%;
    font-family: "latoBold";
    height: 40px;
    font-size: 1rem;
    background-color: $primary;
    border-color: $primary;
    color: #ffffff;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 24px;
  }
}

.input-container {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 10px auto;
  color: #212529;

  .label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: "latoBold";
  }

  .input {
    display: block;
    width: 100%;
    height: inherit;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #d2d6df;
    border-radius: 6px;
    z-index: 1;
  }
}

.spinner {
  margin-right: 5px;
}
